@import url(https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400&display=swap);
@charset "UTF-8";
@font-face {
  font-family: ceremonious_one;
  font-display: swap;
  src: url("../fonts/ceremonious_one.woff2") format("woff2"), url("../fonts/ceremonious_one.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: BravoRGRegular;
  font-display: swap;
  src: url("../fonts/BravoRGRegular.woff2") format("woff2"), url("../fonts/BravoRGRegular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: pfdintextcondpro;
  font-display: swap;
  src: url("../fonts/pfdintextcondpro-medium.woff2") format("woff2"), url("../fonts/pfdintextcondpro-medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: pfdintextcondpro;
  font-display: swap;
  src: url("../fonts/pfdintextcondpro-regular.woff2") format("woff2"), url("../fonts/pfdintextcondpro-regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #000;
  line-height: 1;
  font-family: "PT+Sans";
  font-size: 0.875rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "PT+Sans";
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.lock body {
  overflow: hidden;
  touch-action: none;
}

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.wrapper > main {
  flex: 1 1 auto;
}
.wrapper > * {
  min-width: 0;
}

/*
(i) Стили будут применяться ко 
всем классам содержащим *__container
Например header__container, main__container и т.д.
Снипет (HTML): cnt
*/
[class*=__container] {
  max-width: 59.375rem;
  box-sizing: content-box;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

[class*=-ibg] {
  position: relative;
}
[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
}

[class*=-ibg_contain] img {
  object-fit: contain;
}

.ibg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.ibg img {
  width: 0;
  height: 0;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.border_g {
  border: 3px solid;
  border-image-slice: 1;
  border-image-source: linear-gradient(to left, #c3a673, #926a34);
}

.btn {
  display: inline-block;
  border: 3px solid;
  border-image-slice: 1;
  border-image-source: linear-gradient(to left, #c3a673, #926a34);
  padding: 20px 50px;
  color: #fff;
  font-size: 15px;
  text-transform: uppercase;
  letter-spacing: 2px;
  position: relative;
  cursor: pointer;
}
@media (max-width: 600px) {
  .btn {
    padding: 20px 30px;
  }
}
.btn::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 50%;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.2), rgba(158, 158, 158, 0.2));
  transition: all 0.5s ease;
}
.btn:hover::after {
  height: 100%;
}

.btn_def {
  cursor: pointer;
  padding: 15px 30px;
  display: inline-block;
  flex-shrink: 0;
  transition: all 0.4s ease-in 0s;
}
.btn_def:hover {
  background-color: #1c242a;
  color: #fff;
}

.title {
  text-align: center;
}
.title__text {
  letter-spacing: 5px;
  margin-bottom: 15px;
}
@media (max-width: 600px) {
  .title__text {
    letter-spacing: 3px;
  }
}
.title__h2 {
  display: block;
  font-family: "ceremonious_one";
  font-size: 46px;
  color: #bb9c66;
  line-height: 1;
  margin-bottom: 15px;
}
@media (max-width: 600px) {
  .title__h2 {
    font-size: 40px;
  }
}
.title__h3 {
  font-family: "pfdintextcondpro";
  font-size: 35px;
  line-height: 1.1;
  text-transform: uppercase;
}
@media (max-width: 600px) {
  .title__h3 {
    font-size: 30px;
  }
}
.title__h3_w {
  color: #fff;
}
.title__h3_b {
  color: #000;
  font-weight: 500;
}
.title .decor {
  display: flex;
}
.title .decor__line {
  flex: 1 1 auto;
  height: 1px;
  background-color: #bb9c66;
  margin: 0 5px;
}
.title .decor__circle {
  width: 10px;
  height: 10px;
  border: 1px solid #bb9c66;
  border-radius: 50%;
  margin: 0 3px;
}
@media (max-width: 600px) {
  .title .decor__circle {
    width: 8px;
    height: 8px;
  }
}
.title .decor__square {
  width: 12px;
  height: 12px;
  border: 1px solid #bb9c66;
  transform-origin: center;
  transform: rotate(45deg);
  margin: 0 5px;
}
@media (max-width: 600px) {
  .title .decor__square {
    width: 10px;
    height: 10px;
  }
}
.title .decor__square_b {
  width: 15px;
  height: 15px;
  margin: 0 5px;
}
@media (max-width: 600px) {
  .title .decor__square_b {
    width: 13px;
    height: 13px;
  }
}
.title .decor__center {
  display: flex;
  width: 20%;
  height: 50px;
  background-size: contain;
}
@media (max-width: 600px) {
  .title .decor__center {
    height: 40px;
  }
}
.title .decor__right, .title .decor__left {
  display: flex;
  width: 40%;
  align-items: center;
}

.timer__items {
  display: flex;
}

.timer__item {
  position: relative;
  margin-left: 2px;
  margin-right: 2px;
  padding-bottom: 15px;
  text-align: center;
}

.timer__item::before {
  content: attr(data-title);
  display: block;
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  font-size: 14px;
}

.timer__item:not(:last-child)::after {
  content: ":";
  position: absolute;
  right: -4px;
}

.header {
  background-color: #1c242a;
  color: #ffffff;
  font-family: pfdintextcondpro, sans-serif;
  font-size: 14px;
  line-height: 21px;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 99;
}
.header__container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  position: relative;
  height: 73px;
}
.header__logo {
  width: 144px;
}
@media (max-width: 47.99875em) {
  .header__logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 11;
  }
}
@media (max-width: 47.99875em) {
  .menu-open .menu__body {
    opacity: 1;
    visibility: visible;
  }
}
.menu {
  flex: 1 1 auto;
  text-transform: uppercase;
}
@media (max-width: 47.99875em) {
  .menu {
    text-align: center;
    font-size: 20px;
  }
}
@media (max-width: 47.99875em) {
  .menu__body {
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.9);
    left: 0;
    top: 0;
    z-index: 10;
    padding: 90px 0 0 0;
    overflow-y: scroll;
    opacity: 0;
    visibility: hidden;
    transition: all 0.5s ease;
  }
  .menu__body:after {
    content: "";
    display: block;
    background-color: #1c242a;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 73px;
  }
  .menu__body .actions-header__region {
    display: flex;
    justify-content: center;
  }
}
.menu__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
@media (max-width: 47.99875em) {
  .menu__list {
    display: block;
  }
}
.menu li {
  margin: 0 15px;
}
@media (max-width: 47.99875em) {
  .menu li {
    margin-bottom: 30px;
  }
}
.menu__link {
  display: block;
  position: relative;
}
@media (min-width: 61.99875em) {
  .menu__link::before {
    content: "";
    width: 100%;
    height: 1px;
    position: absolute;
    background-color: #d4c09b;
    bottom: 0;
    left: 0;
    transition: all 0.5s ease;
    transform: scale(0);
  }
  .menu__link:hover::before {
    transform: scale(1);
  }
}

.icon-menu {
  display: none;
}
@media (max-width: 47.99875em) {
  .icon-menu {
    display: block;
    position: relative;
    width: 30px;
    height: 18px;
    cursor: pointer;
    z-index: 11;
  }
  .icon-menu span, .icon-menu::before, .icon-menu::after {
    content: "";
    transition: all 0.3s ease 0s;
    left: 0px;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #fff;
  }
  .icon-menu::before {
    top: 0px;
  }
  .icon-menu::after {
    bottom: 0px;
  }
  .icon-menu span {
    top: calc(50% - 1px);
  }
  .menu-open .icon-menu span {
    transform: scale(0);
  }
  .menu-open .icon-menu::before {
    transform: rotate(-45deg);
    top: calc(50% - 1px);
  }
  .menu-open .icon-menu::after {
    transform: rotate(45deg);
    bottom: calc(50% - 1px);
  }
}

.actions-header {
  display: flex;
}
.actions-header__region {
  position: relative;
  z-index: 5;
  text-transform: uppercase;
  margin-right: 30px;
  display: flex;
  align-items: center;
}
.actions-header__region::before {
  content: "";
  display: inline-block;
  background: url("../img/icons/globe.svg") no-repeat;
  width: 18px;
  height: 18px;
  background-position: center center;
  margin-right: 10px;
}
@media (max-width: 800px) {
  .actions-header__region {
    margin-right: 10px;
  }
  .actions-header__region span {
    display: none;
  }
}
@media (max-width: 47.99875em) {
  .actions-header__region span {
    display: inline-block;
  }
}
.user-header__icon {
  display: flex;
  align-items: center;
  cursor: pointer;
  position: relative;
  z-index: 10;
}
.user-header__icon::before {
  content: "";
  display: inline-block;
  width: 18px;
  height: 18px;
  background: url("../img/icons/user.svg") no-repeat;
  border: 3px solid #d4c09b;
  border-radius: 50%;
  margin-right: 10px;
}
.user-header__icon::after {
  content: "";
  display: inline-block;
  width: 8px;
  height: 8px;
  border: 3px solid #d4c09b;
  border-top-color: transparent;
  border-right-color: transparent;
  transform: rotate(-45deg);
}
.user-header__icon_active::after {
  border: 3px solid #d4c09b;
  border-top-color: #d4c09b;
  border-right-color: #d4c09b;
  border-left-color: transparent;
  border-bottom-color: transparent;
}
.user-header__menu {
  opacity: 0;
  visibility: hidden;
  min-width: 160px;
  padding: 20px;
  position: absolute;
  z-index: 10;
  background-color: #1c242a;
  right: 0;
  top: 75px;
  transition: all 0.5s ease;
}
@media (max-width: 47.99875em) {
  .user-header__menu {
    width: 100%;
  }
}
.user-header__menu li {
  margin-bottom: 10px;
}
.user-header__menu li:last-child {
  margin-bottom: 0;
}
@media (max-width: 47.99875em) {
  .user-header__menu li {
    font-size: 20px;
    margin-bottom: 20px;
  }
}
.user-header__menu_active {
  opacity: 1;
  visibility: visible;
}
.user-header__link {
  display: block;
  cursor: pointer;
}
.user-header__link::before {
  content: "";
  display: inline-block;
  width: 18px;
  height: 18px;
  vertical-align: middle;
  margin-right: 10px;
}
.user-header__link_1::before {
  background: url("../img/icons/globe.svg");
}
.user-header__link_2::before {
  background: url("../img/icons/key.svg");
}
.user-header__link_3::before {
  background: url("../img/icons/hand.svg");
}
.user-header__link_4::before {
  background: url("../img/icons/gavel.svg");
}

.main-slider {
  position: relative;
}
.main-slider__item {
  padding: 30px 0 90px 0;
  position: relative;
}
.main-slider__bg {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}
.main-slider__container {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.main-slider__pagination {
  width: 70px;
  height: 70px;
  background-color: #fff;
  transform: rotate(45deg);
  position: absolute;
  bottom: -35px;
  left: calc(50% - 35px);
  display: flex;
  align-items: center;
  justify-content: center;
}
.main-slider__pagination span {
  width: 28px;
  height: 28px;
  display: block;
  background: #fff url("../img/icons/ellipse3.png") no-repeat center center;
  animation: rotate 5s infinite linear;
}
.main-slider__pagination .swiper-button-prev,
.main-slider__pagination .swiper-button-next {
  position: absolute;
  width: 25px;
  height: 25px;
  border: 3px solid #c4a97a;
  display: block;
  cursor: pointer;
}
.main-slider__pagination .swiper-button-next {
  border-left: none;
  border-bottom: none;
  left: 40px;
  top: 8px;
}
.main-slider__pagination .swiper-button-prev {
  border-right: none;
  border-top: none;
  right: 38px;
  top: 40px;
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}
.body-slide {
  position: relative;
  z-index: 5;
  height: 100%;
}
.body-slide_bottom {
  margin-top: auto;
  text-align: center;
}
.body-slide__top {
  margin-bottom: 15px;
}
.body-slide__center {
  font-size: 15px;
  color: #fff;
  text-align: center;
  line-height: 25px;
  margin-bottom: 50px;
  flex: 1 1 auto;
}

.lots {
  padding: 70px 0;
}
.lots__title {
  margin-bottom: 50px;
}
.lots .decor__icon-watch {
  background: url(../img/icons/watch.png) no-repeat center;
  background-size: contain;
}
.slider-lost__wrapper {
  margin-bottom: 50px;
}
.slider-lost__item {
  flex: 0 1 auto;
}
.control-slider-lost {
  display: flex;
  justify-content: center;
  align-items: center;
}
.control-slider-lost_left .control-decor__line {
  top: 34%;
  left: -5px;
}
.control-slider-lost__center {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 3px solid #c4a97a;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  margin: 0 25px;
  text-align: center;
}
@media (max-width: 47.99875em) {
  .control-slider-lost__center {
    width: 80px;
    height: 80px;
    font-size: 18px;
  }
}
.control-slider-lost__center .lost__more {
  display: block;
  font-family: "pfdintextcondpro";
  font-size: 21px;
  text-transform: uppercase;
}
@media (max-width: 47.99875em) {
  .control-slider-lost__center .lost__more {
    font-size: 18px;
  }
}
.control-slider-lost__right .control-decor__line {
  flex-direction: row-reverse;
  top: 34%;
  right: -5px;
}

.control-decor {
  width: 12%;
  position: relative;
  cursor: pointer;
}
@media (max-width: 47.99875em) {
  .control-decor {
    width: 20%;
  }
}
.control-decor__line {
  display: flex;
  align-items: center;
  position: absolute;
  top: 50%;
  width: 100%;
}
.control-decor__line::before {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background: #c4a97a;
}
.control-decor__line::after {
  content: "";
  display: block;
  width: 10px;
  height: 10px;
  border: 1px solid #c4a97a;
  border-radius: 50%;
  shrink: 0;
  margin: 0 5px;
}
.control-decor__arrow {
  display: flex;
}
.control-decor__arrow::after {
  margin-left: -23px;
}
.control-decor__arrow::before, .control-decor__arrow::after {
  content: "";
  display: block;
  width: 30px;
  height: 30px;
  border: 2px solid #c4a97a;
  transform-origin: center;
  transform: rotate(45deg);
}

.control-decor__arrow_left {
  justify-content: start;
}
.control-decor__arrow_left::after, .control-decor__arrow_left::before {
  border-top: none;
  border-right: none;
}

.control-decor__arrow_right {
  justify-content: flex-end;
}
.control-decor__arrow_right::after, .control-decor__arrow_right::before {
  border-bottom: none;
  border-left: none;
}

.lot {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.lot__title {
  text-align: center;
  font-family: "pfdintextcondpro";
  font-size: 21px;
  line-height: 25px;
  color: #000;
  text-transform: uppercase;
  order: 3;
  position: relative;
  z-index: 2;
  margin-top: -45px;
  flex: 1 1 auto;
}
@media (max-width: 61.99875em) {
  .lot__title {
    font-size: 18px;
  }
}
.lot__header {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  margin-bottom: 20px;
  flex: 1 1 auto;
}
.lot__picture {
  order: -1;
  width: 100%;
  padding-bottom: 80%;
  position: relative;
}
.lot__picture a {
  position: absolute;
  width: 100%;
  height: 100%;
}
.timer-lot {
  order: 1;
  transform: translateY(-50%);
  width: 72px;
  height: 72px;
  display: inline-flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  position: relative;
}
.timer-lot::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #fff;
  transform: rotate(45deg);
}
.timer-lot > div {
  position: relative;
  z-index: 2;
}
.timer-lot__icon {
  margin-bottom: 5px;
}
.timer-lot__item {
  font-size: 16px;
  line-height: 21px;
}

.lot__info {
  display: flex;
}
.lot__btn {
  text-align: center;
}

.info-lot {
  align-items: start;
  margin-bottom: 20px;
  min-height: 100px;
}
.info-lot__statistic {
  flex: 0 1 50px;
  border-bottom: 2px solid #c4a97a;
  align-self: start;
}
.info-lot__icon {
  width: 20px;
  height: 20px;
  position: relative;
  margin-bottom: 15px;
  left: calc(50% - 10px);
  top: 6px;
}
.info-lot__icon::after, .info-lot__icon::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}
.info-lot__icon::after {
  background-color: #000;
  transform: rotate(45deg);
}
.info-lot__icon::before {
  z-index: 1;
}
.info-lot .icon-eye::before {
  background: url(../img/icons/eye.svg) no-repeat center;
}
.info-lot .icon-palm::before {
  background: url(../img/icons/palm.svg) no-repeat center;
}
.info-lot__value {
  text-align: center;
}
.current-bet-info {
  display: flex;
  flex-direction: column;
  text-align: center;
  flex: 1 1 auto;
  margin: 0 5px;
  position: relative;
}
.current-bet-info::after {
  content: "";
  width: 70px;
  height: 70px;
  position: absolute;
  left: calc(50% - 35px);
  top: 18%;
  border: 2px solid #c4a97a;
  transform-origin: center;
  transform: rotate(45deg);
}
.current-bet-info__label {
  position: relative;
  z-index: 1;
  line-height: 1.2;
  margin-bottom: 5px;
  margin-top: 7px;
}
.current-bet-info__value {
  position: relative;
  z-index: 1;
  font-family: "BravoRGRegular";
  font-size: 50px;
}
@media (max-width: 61.99875em) {
  .current-bet-info__value {
    font-size: 40px;
  }
}
.current-bet-info__currency {
  position: relative;
  z-index: 1;
}

.categories {
  padding-bottom: 30px;
}
.categories__row {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -50px;
  position: relative;
  overflow: hidden;
  margin-bottom: 80px;
}
@media (max-width: 61.99875em) {
  .categories__row {
    margin-bottom: 40px;
  }
}
.categories__row::after {
  content: "";
  width: 100%;
  height: 40px;
  background-color: #fff;
  position: absolute;
  bottom: 0;
  left: 0;
}
.categories__row::before {
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  z-index: 10;
  height: 100%;
  width: 15px;
  background-color: #fff;
}
.categories__decor-top {
  width: 100%;
  height: 15px;
  margin-bottom: 20px;
  position: relative;
}
.categories__decor-top::after, .categories__decor-top::before {
  content: "";
  display: inline-block;
  width: 15px;
  height: 15px;
  border: 2px solid #c4a97a;
  transform-origin: center center;
  transform: rotate(45deg);
  bottom: -3px;
}
.categories__decor-top::after {
  position: absolute;
  left: calc(33.333% - 7px);
}
.categories__decor-top::before {
  position: absolute;
  left: calc(66.666% - 7px);
}
@media (max-width: 61.99875em) {
  .categories__decor-top::after {
    position: absolute;
    left: calc(50% - 7px);
  }
  .categories__decor-top::before {
    position: absolute;
    left: calc(50% - 7px);
  }
}
.categories__column {
  flex: 0 0 33.333%;
  padding: 0 50px 25px 50px;
  margin-bottom: 25px;
  position: relative;
}
@media (max-width: 61.99875em) {
  .categories__column {
    display: flex;
    flex: 0 0 50%;
    justify-content: center;
  }
}
@media (max-width: 630px) {
  .categories__column {
    flex: 0 0 100% !important;
    justify-content: center;
  }
}
.categories__column::after {
  content: "";
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #c4a97a;
  position: absolute;
  left: calc(50% - 5px);
  bottom: -5px;
}
.categories__item {
  overflow: hidden;
}
.categories__item:hover .category-item__bg {
  transform: scale(1.3);
}
.categories__decor {
  width: 15px;
  height: 100%;
  position: absolute;
  right: -8px;
  top: 0;
}
.categories__decor::before {
  display: block;
  content: "";
  height: 36.4%;
  width: 2px;
  background-color: #c4a97a;
  margin: 0 auto;
}
.categories__decor::after {
  content: "";
  display: block;
  width: 15px;
  height: 15px;
  border: 2px solid #c4a97a;
  transform-origin: center center;
  transform: rotate(45deg);
  margin: 0 auto;
  position: relative;
  z-index: 2;
}
.categories__decor span::before {
  display: block;
  content: "";
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #c4a97a;
  margin: 20px auto;
}
.categories__decor span::after {
  display: block;
  content: "";
  height: 36.4%;
  width: 2px;
  background-color: #c4a97a;
  margin: 0 auto 20px auto;
}

.category-item {
  display: block;
  width: 250px;
  height: 250px;
  border-radius: 50%;
  position: relative;
}
.category-item__bg {
  transition: all 0.5s ease;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
}
.category-item__bg::after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.6);
  transition: all 0.5s ease;
}
.category-item__body {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 25px 0 40px 0;
}
.category-item__icon {
  margin-bottom: 30px;
  width: 75px;
  height: 73px;
}
.category-item .icon-clock {
  background: url("../img/sprite/css_sprites.png") -10px -10px;
}
.category-item .icon-diamont {
  background: url("../img/sprite/css_sprites.png") -105px -10px;
}
.category-item .icon-auto {
  background: url("../img/sprite/css_sprites.png") -10px -103px;
}
.category-item .icon-hat {
  background: url("../img/sprite/css_sprites.png") -105px -103px;
}
.category-item .icon-table {
  background: url("../img/sprite/css_sprites.png") -200px -10px;
}
.category-item .icon-tv {
  background: url("../img/sprite/css_sprites.png") -200px -103px;
}
.category-item .icon-hanger {
  background: url("../img/sprite/css_sprites.png") -10px -196px;
}
.category-item .icon-painting {
  background: url("../img/sprite/css_sprites.png") -105px -196px;
}
.category-item .icon-glass {
  background: url("../img/sprite/css_sprites.png") -200px -196px;
}
.category-item__text {
  color: #fff;
  font-family: "pfdintextcondpro";
  font-size: 21px;
  line-height: 25px;
  text-transform: uppercase;
  margin-bottom: 20px;
  flex: 1 1 auto;
  text-align: center;
  position: relative;
}
.category-item__decor {
  display: flex;
  justify-content: center;
  align-items: center;
}
.category-item__decor span {
  width: 15px;
  height: 15px;
  border: 2px solid #c4a97a;
  margin: 0 15px;
  transform-origin: center center;
  transform: rotate(45deg);
}
.category-item__decor::after, .category-item__decor::before {
  content: "";
  width: 25px;
  height: 2px;
  display: block;
  background-color: #c4a97a;
}

.categories__description {
  background-image: url(../img/icons/pattern-top.png), url(../img/icons/pattern.png);
  background-repeat: no-repeat, no-repeat repeat;
  background-position: top left, 0 5px;
  padding-left: 130px;
}
@media (max-width: 47.99875em) {
  .categories__description {
    background: none;
    background-image: none;
    padding-left: 0;
  }
}
.categories__description p {
  font-size: 15px;
  line-height: 25px;
  color: #333333;
  margin-bottom: 30px;
}
.categories__description p::last-child {
  margin-bottom: 0;
}

.services {
  background-color: #1c242a;
  padding: 60px 0;
}
.services__title-item {
  font-family: "pfdintextcondpro";
  font-size: 21px;
  line-height: 25px;
  color: #fff;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.services__row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
@media (max-width: 61.99875em) {
  .services__row {
    display: block;
  }
}
.services__column {
  flex: 0 0 28%;
  margin-bottom: 30px;
}
@media (max-width: 61.99875em) {
  .services__column {
    width: 50%;
    margin: 0 auto 40px auto;
  }
  .services__column:last-child {
    margin-bottom: 0;
  }
}
@media (max-width: 47.99875em) {
  .services__column {
    width: 90%;
  }
}
.services__item {
  text-align: center;
  display: flex;
  flex-direction: column;
  height: 100%;
}
.services__picture {
  position: relative;
  width: 100%;
  height: 100%;
  order: -1;
  margin-bottom: 25px;
  display: flex;
  align-items: start;
  justify-content: center;
}
.services__picture img {
  max-width: 100%;
  height: auto;
}
@media (max-width: 47.99875em) {
  .services__picture img {
    max-width: 100px;
  }
}
.services__description {
  color: #bb9c66;
  font-size: 15px;
  line-height: 25px;
  margin-bottom: 20px;
  flex: 1 1 auto;
}
.services__btn {
  font-family: "pfdintextcondpro";
  font-size: 21px;
  line-height: 25px;
  color: #fff;
  text-transform: uppercase;
  display: flex;
  align-items: center;
}
.services__btn::before, .services__btn::after {
  content: "";
  flex: 1 1 auto;
  height: 1px;
  background-color: #c4a97a;
}
.services__btn span {
  margin: 0 15px;
}

.title {
  margin-bottom: 40px;
}
.decor__icon-watchIcon {
  background: url(../img/icons/watchIcon.png) center no-repeat;
  background-size: contain;
}

.quotes {
  padding: 60px 0;
}
.quotes__text {
  display: flex;
  flex-direction: column;
  flex: 0 0 70%;
  font-size: 25px;
  line-height: 30px;
  font-style: italic;
  color: #1c242a;
  align-items: start;
  justify-content: center;
  padding: 0 20px;
}
@media (max-width: 29.99875em) {
  .quotes__text {
    display: block;
    text-align: center;
    font-size: 18px;
    line-height: 25px;
  }
}
.quotes p {
  margin-bottom: 30px;
}
@media (max-width: 29.99875em) {
  .quotes p {
    margin-bottom: 10px;
  }
}
.quotes__info {
  font-size: 15px;
  line-height: 25px;
}
@media (max-width: 29.99875em) {
  .quotes__info {
    font-size: 14px;
    line-height: 20px;
  }
}

.decor__icon-quotes {
  background: url(../img/icons/quotes.png) center no-repeat;
  background-size: contain;
}

.slider-quotes__wrapper {
  padding: 15px 0;
}
@media (max-width: 600px) {
  .slider-quotes__wrapper {
    margin-bottom: 20px;
  }
}
.slider-quotes__item {
  display: flex;
  opacity: 0 !important;
  visibility: hidden;
}
.slider-quotes__item.swiper-slide-active {
  opacity: 1 !important;
  visibility: visible;
}
@media (max-width: 29.99875em) {
  .slider-quotes__item {
    display: block;
  }
}
.slider-quotes__img {
  text-align: center;
  flex: 0 0 30%;
}
@media (max-width: 29.99875em) {
  .slider-quotes__img {
    max-width: 30%;
    margin: 0 auto 10px auto;
  }
}
.slider-quotes__img img {
  max-width: 100%;
}
.control-slider-quotes {
  display: flex;
  width: 40%;
  margin: 0 auto;
}
@media (max-width: 47.99875em) {
  .control-slider-quotes {
    width: 60%;
  }
}
.control-slider-quotes__decor {
  display: flex;
  width: 30%;
  align-items: center;
}
.control-slider-quotes__decor_l::before {
  margin-right: 10px;
}
.control-slider-quotes__decor_r {
  flex-direction: row-reverse;
}
.control-slider-quotes__decor_r::before {
  margin-left: 10px;
}
.control-slider-quotes__decor::before {
  content: "";
  flex: 1 1 auto;
  height: 1px;
  background-color: #c4a97a;
}
.control-slider-quotes__decor::after {
  content: "";
  width: 10px;
  height: 10px;
  border: 1px solid #c4a97a;
  border-radius: 50%;
  flex-shrink: 0;
}
.control-slider-quotes__link {
  cursor: pointer;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 1px solid #c4a97a;
  margin: 0 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}
.control-slider-quotes__link::after {
  content: "";
  width: 20px;
  height: 21px;
  background: url("../img/icons/arrow-around.png") center no-repeat;
}
@media (max-width: 61.99875em) {
  .control-slider-quotes__link {
    margin: 0 30px;
  }
}

.pressa {
  background-color: #fff;
}
.pressa__container {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 61.99875em) {
  .pressa__container {
    display: block;
  }
}
.pressa__column {
  flex: 0 0 45%;
  margin-bottom: 30px;
}
@media (max-width: 61.99875em) {
  .pressa__column {
    width: 80%;
    margin: 0 auto;
  }
}
@media (max-width: 600px) {
  .pressa__column {
    width: 100%;
  }
}
.pressa .icon-news::after {
  position: absolute;
  top: 5px;
  left: 0;
  content: "";
  width: 17px;
  height: 25px;
  background: url("../img/sprite/css_sprites.png") -295px -100px;
}
.pressa .icon-events::after {
  position: absolute;
  top: 5px;
  left: 0;
  content: "";
  width: 21px;
  height: 25px;
  background: url("../img/sprite/css_sprites.png") -295px -55px;
}

.news__title {
  position: relative;
}
.title-h3-icon {
  font-family: "pfdintextcondpro";
  font-size: 35px;
  padding-left: 35px;
  margin-bottom: 20px;
  position: relative;
}

.item-news,
.item-events {
  line-height: 25px;
  margin-bottom: 20px;
}
.item-news__meta,
.item-events__meta {
  font-size: 12px;
  line-height: 25px;
  color: #bb9c66;
}
.item-news__title,
.item-events__title {
  font-size: 15px;
  font-weight: bold;
  color: #333;
}
.item-news__title a,
.item-events__title a {
  translate: all 0.5s ease;
  text-decoration: underline;
}
.item-news__title a:hover,
.item-events__title a:hover {
  text-decoration: none;
}
.subscribe {
  padding: 0 0 70px 0;
}
.subscribe__container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
@media (max-width: 61.99875em) {
  .subscribe__container {
    display: block;
  }
}
.subscribe__column {
  flex: 0 0 45%;
}
@media (max-width: 61.99875em) {
  .subscribe__column {
    display: block;
    width: 80%;
    margin: 0 auto;
  }
}
@media (max-width: 600px) {
  .subscribe__column {
    width: 100%;
  }
}
.subscribe .icon-subs::after {
  position: absolute;
  top: 5px;
  left: 0;
  content: "";
  width: 22px;
  height: 25px;
  background: url("../img/sprite/css_sprites.png") -295px -10px;
}
.subscribe__title {
  width: 100%;
}
@media (max-width: 61.99875em) {
  .subscribe__title {
    width: 80%;
    margin: 0 auto 30px auto;
  }
}
@media (max-width: 600px) {
  .subscribe__title {
    width: 100%;
  }
}
.subscribe__text {
  font-size: 15px;
  line-height: 25px;
  margin-bottom: 30px;
}
.form-subscribe {
  position: relative;
  width: 450px;
  margin: 0 auto;
}
@media (max-width: 600px) {
  .form-subscribe {
    width: 80%;
  }
}
@media (max-width: 480px) {
  .form-subscribe {
    width: 100%;
  }
}
.form-subscribe__control {
  border: 2px solid #bb9c66;
  display: flex;
  align-items: center;
}
.form-subscribe__control._form-error {
  border-color: red;
}
.form-subscribe .form__error {
  position: absolute;
  left: 20px;
  bottom: -20px;
  font-size: 16px;
  color: #c00;
}
.form-subscribe__input {
  padding: 12px 25px;
  flex: 1 1 auto;
}
.form-subscribe__submit {
  font-family: "pfdintextcondpro";
  width: 100px;
  height: 40px;
  border-left: 1px solid #bb9c66;
  font-size: 21px;
  color: #1c242a;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  line-height: 40px;
}
.form-subscribe__submit::after {
  content: "";
  margin-top: 2px;
  width: 25px;
  height: 17px;
  background: url("../img/sprite/css_sprites.png") -10px -289px;
}
@media (max-width: 480px) {
  .form-subscribe__submit {
    background: none;
    width: auto;
    padding: 0 20px;
  }
}

.footer {
  padding: 40px 0 40px 0;
  background-color: #1c242a;
}
.footer__row-top {
  display: flex;
  margin-bottom: 15px;
}
@media (max-width: 61.99875em) {
  .footer__row-top {
    display: block;
    text-align: center;
  }
}
.footer__column {
  display: flex;
  align-items: center;
}
.footer__column_l {
  flex: 0 0 185px;
  margin-right: 30px;
}
.footer__column_c {
  flex: 1 1 auto;
  margin-right: 55px;
}
.footer__column_r {
  flex: 0 0 230px;
}
@media (max-width: 61.99875em) {
  .footer__column {
    display: block;
    margin: 0 0 30px 0;
  }
}
.footer__menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
@media (max-width: 500px) {
  .footer__menu {
    width: 80%;
    margin: 0 auto 20px auto;
    justify-content: start;
  }
}
.footer__menu li {
  margin: 0 10px 0 10px;
}
@media (max-width: 500px) {
  .footer__menu li {
    margin: 0;
    width: 50%;
  }
}
.footer__menu a {
  font-family: "pfdintextcondpro";
  line-height: 25px;
  color: #fff;
  text-transform: uppercase;
}
@media (max-width: 61.99875em) {
  .footer__menu a {
    display: block;
    padding: 5px 10px;
  }
}
.footer__tell {
  font-family: BravoRGRegular;
  color: #bb9c66;
  font-size: 50px;
}
.footer__tell sup {
  font-size: 25px;
}
.footer__row-bottom {
  color: #bb9c66;
  display: flex;
  justify-content: space-between;
}
@media (max-width: 29.99875em) {
  .footer__row-bottom {
    flex-direction: column;
    align-items: center;
  }
}
.footer__callback {
  background: url("../img/callback-arrow.png") left top no-repeat;
  padding-left: 15px;
  text-decoration: underline dashed !important;
}
@media (max-width: 29.99875em) {
  .footer__callback {
    display: inline-flex;
    order: -1;
    margin-bottom: 20px;
  }
}

.page {
  padding-top: 73px;
}
.swiper {
  overflow: hidden;
}

.swiper-wrapper {
  width: 100%;
  height: 100%;
  box-sizing: content-box;
  display: flex;
  position: relative;
}

.swiper-vertical .swiper-wrapper {
  flex-direction: column;
}

.swiper-autoheight .swiper-wrapper {
  align-items: flex-start;
}

.swiper-initialized .swiper-slide {
  flex-shrink: 0;
}

.swiper-android .swiper-slide,
.swiper-android .swiper-wrapper {
  transform: translate3d(0px, 0, 0);
}

.swiper-button-lock {
  display: none !important;
}
